/*
ref: https://github.com/squidfunk/mkdocs-material/discussions/3806#discussioncomment-2544209
ref: https://github.blog/2022-12-02-introducing-mona-sans-and-hubot-sans/
*/

@font-face {
    font-family: 'Fira Code';
    src:
    url('FiraCode-VF.woff2') format('woff2 supports variations'),
    url('FiraCode-VF.woff2') format('woff2-variations');
}

@font-face {
    font-family: 'Mona Sans';
    src:
      url('Mona-Sans.woff2') format('woff2 supports variations'),
      url('Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }

  @font-face {
    font-family: 'Hubot Sans';
    src:
      url('Hubot-Sans.woff2') format('woff2 supports variations'),
      url('Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }

:root {
    --md-code-font: "Fira Code";
    --md-text-font: "Mona Sans";
}

.md-typeset h1 {
    font-family: "Hubot Sans";
}

